.editor
  outline: none

.toolbar
  display: flex
  margin-bottom: 1rem

.markButton,
.blockButton
  opacity: 55%

.markButton.active,
.blockButton.active
  opacity: 100%

.markButton
  margin: 0 0.25rem

.blockButton
  margin: 0 0.5rem
